@tailwind base;
@tailwind components;
@tailwind utilities;

.menubutton .dropdownmenu{
    display: none;
    position: absolute;
    min-width: 100px;
}
.menubutton:hover .dropdownmenu{
    display: block;
}
.dropdownmenu1:hover .dropdowncontent1{
    display: block;
}
.dropdownmenu2:hover .dropdowncontent2{
    display: block;
}
.dropdownmenu3:hover .dropdowncontent3{
    display: block;
}
.dropdownmenu4:hover .dropdowncontent4{
    display: block;
}
.dropdownmenu5:hover .dropdowncontent5{
    display: block;
}
.dropdown:hover .content{
    display: block;
}
